# WhatsApp API
ACCESS_TOKEN=your_whatsapp_access_token
META_ENDPOINT=https://graph.facebook.com/v20.0/
PHONE_NUMBER_ID=your_phone_number_id
WEBHOOK_VERIFY_TOKEN=your_webhook_verify_token

# Application Secret Key
SECRET_KEY=your_secret_key

# Cosmos DB
COSMOSDB_CONNECTION_STRING=your_cosmosdb_connection_string
DB_NAME=your_database_name
COSMOS_COLLECTION_NAME=your_collection_name

# OpenAI
OPEN_AI_KEY=your_openai_api_key

# MySQL Database
MYSQL_HOST=your_mysql_host
MYSQL_PORT=your_mysql_port
MYSQL_USER=your_mysql_user
MYSQL_PASSWORD=your_mysql_password
MYSQL_DATABASE=your_mysql_database_name

# Server Configuration
PORT=8080